<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Ceneo.pl Web Scraper</title>
</head>
<body>
    <header>
        <h1>Ceneo.pl Web Scraper</h1>

    </header>
    <section>
        {%block content%}
        <p>to jest plik bazowy</p>
        {%endblock%}
    </section>
    <form action="{{url_for('extract')}}" method="POST" class = "container">
        <div class= "container-fluid">
            <li class="nav-item">
                <a class="nav-item" href="{{url_for('index')}}">
            </li>
            <li class="nav-item">
                <a class="nav-item" href="{{url_for('author')}}">
            </li>
            <li class="nav-item">
                <a class="nav-item"  href="{{url_for('extract')}}">
            </li>
            <li class="nav-item">
            <a class="nav-item" href="{{url_for('products')}}">
            </li>
        </div>
    </form>
    {%if error is defined %}
    
    {%end block%}

    <footer>Łucja Romańska, Uniwersytet Ekonomiczny w Krakowie</footer>
</body>
</html>